<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>原来如此主页(Souka)</title>
		<link rel="icon" href="../static/imgs/logo1.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="ss/aa.css"/>
        <link rel="stylesheet" type="text/css" href="https://souka.coremap.cn/static/css/element-index.css"/>
		<script src="https://at.alicdn.com/t/font_1944411_59l0yrce7b.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    </head>
	<body >
		<div class ="fake_body" :style="{backgroundColor: body_bg_color, backgroundImage: 'url(' + bg_img + ')'}">
		<div class="head">
			<div id="snow" @click="change_bg_color" v-show="!is_super_clean">
			</div>
			<div id="setting">
                <el-dropdown :hide-on-click="false" trigger="click">
                  <span class="el-dropdown-link">
                      <i class="el-icon-setting" id="set_svg" aria-hidden="true" @click="set_show_func" :style="{color: set_color}"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>
                        极简模式
                        <label @click="set_super_clean">
                            <input class="mui-switch mui-switch-animbg" type="checkbox" v-model="is_super_clean">
                        </label>
                    </el-dropdown-item>
                    <el-dropdown-item>
						夜间模式
							<label @click="to_night">
								<input class="mui-switch mui-switch-animbg" type="checkbox" v-model="is_dark">
							</label>
                    </el-dropdown-item>
                      <el-dropdown-item @click="support_show_func">
                            <el-popover
                                placement="bottom"
                                trigger="click"
                                >
                                <img src="../static/imgs/support.jpg" style="width:200px;">
                                <el-button type="text" slot="reference" style="color:#606266">支持Souka
                                <svg class="icon" aria-hidden="true">
								    <use xlink:href="#icon-dashang"></use>
							    </svg>
                                </el-button>
                          </el-popover>


						</el-dropdown-item>
						<!-- <li @click="about_show_func">软核公众号 -->
						<el-dropdown-item class="aaaaaaaaaaa">
						<a href="https://www.yuque.com/docs/share/97b82fad-7e19-4cde-9484-b87a903e21e4?# 《Souka使用说明书📕》" target="_blank" style="color:#606266">
							关于Souka
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-about"></use>
							</svg>
						</a>
						</el-dropdown-item>
                    </el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
			</div>
		</div> 
		<div id="middle">
			<div class="logo">
				<img src="ss/tt.png" v-show="!is_super_clean">
			</div>
			<div id="search">
				<div id="search_item">
					<div class="select" @click="showClick">
						<div class="selected_icon">
							<svg class="icon search_icon" aria-hidden="true">
								<use v-bind:xlink:href="'#'+engines[selected].name"></use>
							</svg>
						</div>
						<ul id="search_engine" style="display: none;" v-show="show">
							<li @click="select(optionIndex)" v-for="(engine, optionIndex) in engines" :key="engine.name">
								<svg class="icon search_icon search_icon_select" aria-hidden="true">
									<use v-bind:xlink:href="'#'+engine.name"></use>
								</svg>
							</li>
						</ul>
					</div>
					<div id="search_input_div">
						<input type="text" v-model="search_content" class="search_input" @keyup.enter="search_action">
					</div>
					<button class="search_btn" v-on:click="search_action">
						<svg class="icon search_icon search_icon_action" aria-hidden="true">
							<use xlink:href="#icon-search"></use>
						</svg>
					</button>
				</div>
			</div>
			<div id="insite_so">
				<div id="insite_so_mod" v-show="!is_super_clean" :style="{color: snow_bg_color}">
					<svg class="icon" aria-hidden="true" @click="search_by_site(optionIndex)" v-for="(engine, optionIndex) in small_site_engines" :key="engine.name">
						<use v-bind:xlink:href="'#'+engine.name"></use>
					</svg>
					<span class="v_line"></span>
					<svg class="icon icon_specile" aria-hidden="true" @click="show_hot">
						<use href="#icon-hot"></use>
					</svg>
					<svg class="icon icon_specile" aria-hidden="true" @click="show_collect">
						<use href="#icon-galaxy"></use>
					</svg>
				</div>
			</div>	
			<!-- <div id="other_modulea" :style="{color: snow_bg_color}">
				<svg class="icon" aria-hidden="true" @click="show_hot">
					<use xlink:href="#icon-hot"></use>
				</svg>
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-galaxy"></use>
				</svg>
			</div> -->
		</div>
		
		<div id="hot" style="display: none;" v-show="hot_show">
				<div class="hot_win" :style="{color: snow_bg_color, borderColor: snow_bg_color}">
					<div class="hot_title" id="zhihu_hot"  :style="{borderColor: snow_bg_color}">
						<span id="">
							知乎
						</span>
						<div class="suanxin">
							<svg class="icon" aria-hidden="true" @click="get_zhihu_hot">
								<use xlink:href="#icon-shuaxin"></use>
							</svg>
						</div>
					</div>
					<div class="hot_text">
						<ul>
							<!-- <li v-for="(hot_data, index) in zhihu_hot_text.slice(0, 5)"> -->
							<li v-for="(hot_data, index) in zhihu_hot_text">
								<a :href="hot_data.link" target="_blank" :style="{color: snow_bg_color}">
								<span>{{index+1}}. {{hot_data.title}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="hot_win" :style="{color: snow_bg_color, borderColor: snow_bg_color}">
					<div class="hot_title" id="weibo_hot"  :style="{borderColor: snow_bg_color}">
						<span>微博</span>
						<div class="suanxin">
							<svg class="icon" aria-hidden="true" @click="get_weibo_hot">
								<use xlink:href="#icon-shuaxin"></use>
							</svg>
						</div>
					</div>
					<div class="hot_text">
						<ul>
							<!-- <li v-for="(hot_data, index) in zhihu_hot_text.slice(0, 5)"> -->
							<li v-for="(hot_data, index) in weibo_hot_text">
								<a :href="hot_data.link" target="_blank" :style="{color: snow_bg_color}">
									<span>{{index+1}}. {{hot_data.title}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="hot_win" :style="{color: snow_bg_color, borderColor: snow_bg_color}">
					<div class="hot_title" id="v2ex_hot" 	:style="{borderColor: snow_bg_color}">
						<span>V2EX</span>
						<div class="suanxin">
							<svg class="icon" aria-hidden="true"  @click="get_v2ex_hot">
								<use xlink:href="#icon-shuaxin"></use>
							</svg>
						</div>
					</div>
					<div class="hot_text">
						<ul>
							<!-- <li v-for="(hot_data, index) in zhihu_hot_text.slice(0, 5)"> -->
							<li v-for="(hot_data, index) in v2ex_hot_text">
								<a :href="hot_data.link" target="_blank" :style="{color: snow_bg_color}">
								<span>{{index+1}}. {{hot_data.title}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
		</div>
		<div id="collect_bucket" style="display: none;" v-show="collect_show">
			<table cellspacing="" cellpadding="" :style="{color: snow_bg_color, borderColor: snow_bg_color}">
				<tr v-for="(item, index1) in collect_bucket">
					<th>{{item.type}}</th>
					<td v-for="(obj, index2) in item.content">
						<a :href="obj.url" target="_blank">
							<img :src="obj.img_url">
							<span>{{obj.name}}</span>
						</a>
					</td>
				</tr>
			</table>
		</div>
		
		</div>
        <!--
        <div id="footer" :style="{backgroundColor: footer_bg_color}">
			<span>© 2020, 原来如此, Build With
				<svg class="icon" aria-hidden="true" style="font-size: 13px;">
					<use xlink:href="#icon-heart"></use>
				</svg>
			</span>
			<br />
			<a href="http://beian.miit.gov.cn/" target="_blank">京ICP备20011907号-1</a>
		</div>
		-->
    </body>
      <!-- import Vue before Element -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
     <!-- import JavaScript -->
     <script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="ss/cc.js" type="text/javascript" charset="utf-8"></script>
</html>